@model Kimyon.Models.Adviewmodel
@{
    ViewBag.Title = "ViewAd";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}



<style>
    td {
        padding: 20px;
    }
</style>
<div class="row">
    <div class="col-lg-12 col-md-12">
        <img src="~/Content/img/14560020750060463280.png" class="img img-responsive" style="width:100%" />
    </div>
</div>

<div class="row">

    <div class="col-lg-2 col-md-2">
        <img src="~/Content/img/adlisting2.gif" class="img img-responsive" style=" height:500px;" />
    </div>



    <div class="col-lg-8 col-md-8">

        <div>
            <h1>@Model.product_name <small>AD-ID:@Model.product_id</small></h1>
        </div>

        <img src="@Url.Content(@Model.product_image)" style="width:800PX; height:450PX" />

        <div>
            <h1>Ürün Bilgileri: </h1>
            <p>@Model.product_description</p>
        </div>

        <table>

            <tr> <td>Fiyat: </td> <td>@Model.product_price ₺ </td> </tr>
            <tr> <td>Kategori: </td> <td>@Model.category_name </td> </tr>
            <tr> <td>Ürünü Yükleyen: </td> <td>@Model.u_name <img src="@Url.Content(@Model.u_image)" style="width:40px; height:40px" /> </td> </tr>
            <tr> <td>Telefon Numarası: </td> <td>@Model.u_contact  </td> </tr>
            <tr>
                <td colspan="2">
                    @if (Convert.ToInt32(Session["userid"]) == Convert.ToInt32(Model.product_fk_user))
                    {

                        @Html.ActionLink("Bu ilanı kaldır", "DeleteAd", new { @class = "btn btn-info", id = Model.product_id })



                    }
                </td>
            </tr>

        </table>



    </div>




    <div class="col-lg-2 col-md-2">
        <img src="~/Content/img/150_sleep1_600.gif" class="img img-responsive" style=" height:500px;" />
    </div>


</div>
